body {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

header {
    background: #1e3a8a;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 20px;
}

.hero img {
    width: 90%;
    border-radius: 10px;
}

.courses {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.courses div {
    text-align: center;
}

.courses img {
    width: 150px;
    border-radius: 10px;
}

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 10px;
}